        polygon {
          fill: #ccc;
          stroke: black;
        }

        #usa-map {
          width: 100%;
          height: 1000px;
        }
        svg{
          display: block;
          margin: auto;
        }