    
body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }

#map { 
height: 100%; 
width: 100%; 
position: absolute !important;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


canvas {
  cursor: move;
}

path {
  stroke-linejoin: round;
}

.voronoi-border {
  stroke: #fff;
  fill: none;
  stroke-width: 0;
  stroke-opacity:0;
}

.points {
  pointer-events: none;
}

.states {
  fill: transparent;
  stroke-opacity:0;
}

.hidden {
  display: none;
}
